*.rbc
capybara-*.html
/coverage/
/spec/tmp

# Ignore bundler config.
/.bundle
/vendor/bundle
/vendor/cache

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore node_modules
node_modules/

# Docker
.docker/db
!.docker/db/.keep

# RUbymine
.idea/*
!.idea/dictionaries
!.idea/dictionaries/ruby-knock.dic